* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    overflow-x: hidden;
}

.container {
    height: 98vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.outer-container {
    box-shadow: 1px 2px 5px rgb(206, 206, 206);
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 20px;
    padding: 15.5px 9px 18px 9px;
}

.qr-code {
    width: 285px;
    border-radius: 9px;
    margin: 0 0 20px 0;
}

.heading-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    display: flex;
    width: 300px;
    margin: 0 0 19px 0;
}

.top-text {
    color: hsl(218, 44%, 22%);
    letter-spacing: 1px;
    font-family: outfit;
    font-weight: 700;
    font-size: 20px
}

.text-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    display: flex;
    width: 300px;
    margin: 0 0 20px 0;
    width: 300px;
}

.bottom-text {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-family: outfit;
    font-weight: 400;
}